/* GENERAL
----------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  background-color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
}

main {
  width: 100%;
  margin: 0 auto;
}

#home,
#aboutMe,
#prices,
#voucher,
#gallery,
#contact {
  margin-top: -60px;
  padding-top: 60px;
}

h1,
h2,
h3,
h4 {
  color: #cdbc84;
  font-family: AmoretSans;
}

.blackout {
  position: fixed;
  z-index: 6;
  top: -180px;
  left: 0;
  height: 200px;
  width: 100vw;
  background-color: #0c2a2a;
}

/* NAVBAR
----------------------------------- */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0c2a2a;
  z-index: 7;
  font-weight: 400;
  padding: 0 20px;
}
nav ul {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  width: 100%;
  list-style-type: none;
  text-align: center;
}
nav ul li {
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  color: #cdbc84;
  transition: color 0.3s ease-in-out;
}

#logo {
  display: none;
  height: 100%;
  padding: 10px 10px;
}
#logo img {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
}

.menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 10px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.menuToggle:hover {
  opacity: 1;
}

/* MAIN VIDEO
----------------------------------- */
.mainVideoBox {
  height: calc(100vh - 60px);
  max-width: 100%;
  position: relative;
}

#mainVideo {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}
#mainVideo video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#mainVideoOverlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
}

#mainVideoWhiteLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  filter: drop-shadow(5px 4px 9px rgba(0, 0, 0, 0.7));
}
#mainVideoWhiteLogo img {
  width: 65%;
  max-width: 600px;
}

/* ABOUT ME
----------------------------------- */
.aboutMe {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.aboutMeBackground {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #0c2a2a;
}

.leavesBackground {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-image: url("../images/leaves.jpg");
  background-size: cover;
  background-position: center;
}

.aboutMeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.aboutMePicture {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.aboutMePicture img {
  padding: 20px 0;
  width: 85%;
}

.aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  line-height: 200%;
}

.aboutMeTextSlidesVisible {
  width: 90%;
  overflow: hidden;
}

.aboutMeTextSlidesAll {
  position: relative;
  left: 0;
  display: flex;
  transition: all 1s ease-out;
}
.aboutMeTextSlidesAll p {
  width: 33.3333333333%;
  padding: 0 10px;
}

.barsAboutMe {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.bar {
  width: 12px;
  height: 7px;
  margin: 0 3px;
  background-color: #c4c4c4;
}

.barGold {
  background-color: #cdbc84;
}

/* ABOUT COMPANY
----------------------------------- */
.aboutCompany {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 992px;
  margin: 25px auto;
}

.aboutCompanyText {
  width: 100%;
}
.aboutCompanyText p {
  margin: 20px 20px 0 0;
  line-height: 200%;
}

.aboutCompanySketch {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.aboutCompanySketch img {
  width: 90%;
}

/* PRICING
----------------------------------- */
#prices {
  width: 100%;
}
#prices h2 {
  margin: 25px 0 20px 7.5%;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1200px;
  background-image: url("../images/leaves.jpg");
  background-size: cover;
  font-size: 18px;
  margin: 0 auto 25px;
}

.pricingOverlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pricingTreatment {
  width: 80%;
}
.pricingTreatment span {
  font-size: 16px;
  display: block;
}

.pricingBox {
  width: 100%;
  padding: 30px;
}
.pricingBox:last-of-type {
  padding: 0 30px;
}
.pricingBox ul {
  margin: 15px 0 30px;
}
.pricingBox ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* VOUCHER
----------------------------------- */
.voucherBox {
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  max-width: 992px;
  gap: 30px;
  margin: 25px auto;
}

.voucherText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  line-height: 200%;
}
.voucherText h2 {
  color: #cdbc84;
  margin-bottom: 20px;
}

.voucherImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.voucherImage img {
  width: 80%;
}

/* GALLERY
----------------------------------- */
.gallery {
  width: 85%;
  max-width: 992px;
  margin: 25px auto;
}
.gallery h2 {
  margin-bottom: 20px;
}

.galleryBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.galleryBox img {
  width: calc(50% - 10px);
  border: 2px solid #cdbc84;
  border-radius: 20px;
  margin: 5px;
}
.galleryBox img:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.galleryModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 8;
}
.galleryModal img {
  max-height: 70%;
  max-width: 90%;
}
.galleryModal p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-size: 18px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  margin: 3vmin;
  color: #f1f1f1;
}
.closeBtn:hover {
  color: #bbb;
  transition: all ease-in-out 0.25s;
  cursor: pointer;
}

/* CONTACT AND MAP
----------------------------------- */
.contactMapBox {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact {
  width: 100%;
  background-color: #cdbc84;
  color: #000;
  font-size: 20px;
  padding: 30px 0;
}
.contact h3 {
  color: #000;
  margin: 0 0 20px 7.5%;
}
.contact ul {
  list-style-type: none;
  width: 85%;
  margin: 0 auto;
}
.contact ul li {
  padding: 10px 0;
  display: flex;
}
.contact a {
  text-decoration: none;
  color: #000;
}
.contact a:hover {
  color: #0c2a2a;
  text-decoration: underline;
}

.contactRight {
  display: flex;
  align-items: center;
}

.contactLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.contactLeft img {
  width: 36px;
}

.map {
  width: 100%;
  height: 50vh;
}

/* FOOTER
----------------------------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #0c2a2a;
  color: #cdbc84;
  text-align: center;
}
footer span {
  display: none;
}

/* MEDIA QUERIES
----------------------------------- */
@media only screen and (min-width: 992px) {
  body {
    padding-top: 100px;
  }

  #home,
#prices,
#voucher,
#gallery,
#contact {
    margin-top: -100px;
    padding-top: 100px;
  }

  nav {
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
    height: 100%;
  }

  #logo {
    display: block;
  }

  .menuToggle {
    display: none;
  }

  .mainVideoBox {
    height: calc(100vh - 100px);
  }

  .aboutCompanySketch {
    display: flex;
  }

  .aboutCompany {
    margin: 70px auto 40px;
  }

  .prices {
    margin: 0 auto 30px;
  }

  #prices h2 {
    margin: 30px 0 20px 7.5%;
  }

  .voucherBox {
    margin: 30px auto;
  }

  .gallery {
    margin: 30px auto;
  }
}
@media only screen and (min-width: 768px) {
  .aboutMe {
    width: 85%;
    max-width: 750px;
  }

  .barsAboutMe {
    margin-top: 0;
  }

  .aboutMeTextSlidesVisible {
    width: 75%;
  }

  .aboutCompanyText {
    width: 90%;
  }

  .pricingOverlay {
    flex-direction: row;
  }

  .pricingBox:last-of-type {
    padding: 30px;
  }

  .voucherBox {
    flex-direction: row;
  }

  .voucherText {
    width: 55%;
  }

  .voucherImage {
    width: 45%;
  }
  .voucherImage img {
    width: 100%;
  }

  .galleryBox img {
    width: calc(25% - 6px);
    margin: 3px;
  }

  .contactMapBox {
    flex-direction: row;
  }

  .contact {
    width: 40%;
    margin-top: 25px;
  }

  .map {
    margin-top: 25px;
    height: auto;
    width: 60%;
  }
}
@media only screen and (min-width: 576px) {
  main {
    width: 95%;
  }

  #aboutMe {
    margin-top: -10px;
  }

  .aboutMe {
    position: relative;
    min-height: 320px;
  }

  .aboutMeContent {
    flex-direction: row;
    position: absolute;
  }

  .aboutMePicture img {
    height: 120%;
    padding: 0;
    width: auto;
  }

  .aboutMeText {
    width: 60%;
  }

  footer span {
    display: inline;
  }
}
@media not all and (hover: none) {
  .bar:hover {
    background-color: #cdbc84;
    cursor: pointer;
  }
}
@media only screen and (max-width: 991px) {
  .d-none {
    display: none;
  }
}